In [72]:
# 1) Imports et configuration de chemin
import os
import sys
import pandas as pd
import matplotlib.pyplot as plt

# Ajoute le dossier `etl/src/main` pour importer le module d'extraction local
base = os.path.abspath(os.path.join('..', 'etl', 'src', 'main'))
if base not in sys.path:
    sys.path.insert(0, base)

print('sys.path[0] =', sys.path[0])
print('Added ETL path:', base)

sys.path[0] = e:\Data-Engineer-Test\immobilisations_amortissements\etl\src\main
Added ETL path: e:\Data-Engineer-Test\immobilisations_amortissements\etl\src\main

In [73]:
# 2) Importer la fonction d'extraction et récupérer les enregistrements bruts
from extraction.extract import fetch_all_records

records = fetch_all_records()
print('Fetched records:', len(records))

400 error pour start=10000, extraction stoppée (limite API atteinte).

Fetched records: 10000

In [74]:
df = pd.DataFrame([r.get('fields', {}) if isinstance(r, dict) else {} for r in records])

In [77]:
print(df.shape)

(10000, 13)

In [78]:
print(df.columns)

Index(['amort_exercice', 'designation_des_ensembles', 'vnc_debut_exercice',
       'ndeg_immobilisation', 'valeur_d_acquisition', 'duree_amort', 'nature',
       'collectivite', 'publication', 'vnc_fin_exercice', 'ndeg_subs',
       'date_d_acquisition', 'cumul_amort_anterieurs'],
      dtype='object')

In [80]:
display(df.head())

,amort_exercice,designation_des_ensembles,vnc_debut_exercice,ndeg_immobilisation,valeur_d_acquisition,duree_amort,nature,collectivite,publication,vnc_fin_exercice,ndeg_subs,date_d_acquisition,cumul_amort_anterieurs
0,10713.37,80-?? COLL CAMILLE CLAUDEL,42853.43,100000082150,214267.35,20.0,21312,VILLE,2023,32140.06,0000,2006-12-31,171413.92
1,5522.00,65-immo subv Palulos groupe Porte de Montrouge...,5522.00,100000075343,82872.00,15.0,204182,VILLE,2023,0.00,0000,2011-12-31,77350.00
2,76719.00,65-15 PARIS HABITAT 51-53 LOURMEL/95-103 ZOLA,153436.80,100000075503,1150783.80,15.0,204182,VILLE,2023,76717.80,0000,2011-12-31,997347.00
3,11134.00,12-SUB EQPT AUTRES O P -BATIMENTS ET INSTALLAT...,289464.00,100000058885,334000.00,30.0,204182,VILLE,2023,278330.00,2018,2018-02-20,44536.00
4,23.00,80-16 - COLLEGE JANSON DE SAILLY,321.51,100000075777,574.51,25.0,21312,VILLE,2023,298.51,0000,2011-12-31,253.00

In [54]:
print(df.dtypes)

amort_exercice               float64
designation_des_ensembles     object
vnc_debut_exercice           float64
ndeg_immobilisation           object
valeur_d_acquisition         float64
duree_amort                  float64
nature                        object
collectivite                  object
publication                   object
vnc_fin_exercice             float64
ndeg_subs                     object
date_d_acquisition            object
cumul_amort_anterieurs       float64
_recordid                     object
dtype: object

In [55]:
print(df.isna().sum())

amort_exercice               0
designation_des_ensembles    1
vnc_debut_exercice           0
ndeg_immobilisation          1
valeur_d_acquisition         0
duree_amort                  1
nature                       0
collectivite                 0
publication                  0
vnc_fin_exercice             0
ndeg_subs                    1
date_d_acquisition           1
cumul_amort_anterieurs       0
_recordid                    0
dtype: int64

In [56]:
df["designation_des_ensembles"].unique()

array(['80-??  COLL CAMILLE CLAUDEL',
       '65-immo subv Palulos groupe Porte de Montrouge 14e',
       '65-15 PARIS HABITAT 51-53 LOURMEL/95-103 ZOLA', ...,
       '65 - MOBILIER', 'Portillon jardin', 'Rénovation classe dactylo'],
      dtype=object)

In [57]:
df["ndeg_immobilisation"].unique()

array(['100000082150', '100000075343', '100000075503', ...,
       '100000001642', '100000002411', '100000009449'], dtype=object)

In [58]:
df["duree_amort"].unique()

array([20., 15., 30., 25.,  5., 60.,  7.,  1., 10.,  2.,  3., 70., 40.,
       50.,  6., 80., nan,  8.,  9.,  4., 35., 12.])

In [59]:
df["ndeg_subs"].unique()

array(['0000', '2018', '0', '2014', '2017', '2019', '2021', '2013',
       '0013', '2011', '2022', '2012', '2005', '2006', '2008', '1996',
       '2009', '2007', '2010', '2015', '2003', '2016', '1997', '0001',
       '2020', '0003', '0010', '0002', '0005', '0007', '2002', '2001',
       nan, '0008', '0009', '2004', '2023', '0006', '0004', '2000'],
      dtype=object)

In [60]:
df["date_d_acquisition"].unique()

array(['2006-12-31', '2011-12-31', '2018-02-20', ..., '2022-12-07',
       '2020-10-15', '2021-08-16'], dtype=object)

In [61]:
df["date_d_acquisition"].unique()

array(['2006-12-31', '2011-12-31', '2018-02-20', ..., '2022-12-07',
       '2020-10-15', '2021-08-16'], dtype=object)

In [62]:
df["nature"].unique()

array(['21312', '204182', '21313', 'S15332', '20432', '2051A', '21312A',
       '21312B', '21312P', '21313B', '21318A', '21321', '21321A',
       '21321P', '21828', '21848A', '2188MV', '20422', '215731', '2181',
       '20415332', '202', '204112', '2041581', '20422A', '20422P', '2051',
       '21848', '2184', '21532I', '2131', '2151', '2153', '2154', '2132',
       '21571', '2182', '21313A', '217312', '217312A', '21831', '21532K',
       '21562F', '212', '2135', '2141', '2145', '2183', '2132A', '2088',
       '2188', '21311K', '2151G', '21532G', '2155F', '204182A', '21841',
       '21848MV', '20421', '205', '204172', '2041782', '2031', '21578',
       '2185', '217532I', '21311G', '21318', '21531', '2013', 'S15341',
       '21311A', '2031C', '2158', '2158A', '2184F', '2041482', 'S15322',
       '204162', '21351', '2041632', '21838', '2157', '21568A', '2041622',
       '21311', '204412A', '204181', '20432A', '2154F', '2041712P',
       '2181A', '2185MV', '2186', 'S1582A', '215738', '21318B', '21612',
       '204112P', '20431', '21532D', '2154I', 'S15342', '204412', '2032',
       '21314A', '21562K', '2041642', '2183B', '2183F', '2051C', '2033',
       '21311B', '204142', '2154G', '21562I', '21315I', 'S15343',
       '2041481', '20415342', '21314', '217532G', '21314B', 'S15332A',
       '20415322', '20415331', '21568', '21328A', '2041642A', '2184A',
       '201C', '2151D', '21532B', '204182P', 'S15322P', '21841B',
       'S15332P', '2155MV', '204171', '2184MV', '21561A', '204111',
       'S15342A', '204122', 'S15322A', 'S15331', '2041582', '21622'],
      dtype=object)

In [63]:
df["collectivite"].unique()

array(['VILLE', 'DEPARTEMENT'], dtype=object)

In [64]:
df["publication"].unique()

array(['2023', '2022', 'CA 2013', 'CA 2015', 'CA 2016', 'CA 2017',
       'CA 2018', 'CA 2019', '2024'], dtype=object)

In [65]:
df["vnc_fin_exercice"].unique()

array([3.214006e+04, 0.000000e+00, 7.671780e+04, ..., 1.033000e+01,
       3.578810e+03, 5.735000e+01])

In [66]:
df["cumul_amort_anterieurs"].unique()

array([1.7141392e+05, 7.7350000e+04, 9.9734700e+05, ..., 5.6150000e+01,
       3.9378270e+04, 1.7700000e+02])

In [81]:
print(df.describe())

       amort_exercice  vnc_debut_exercice  valeur_d_acquisition  duree_amort  \
count    1.000000e+04        1.000000e+04          1.000000e+04  9999.000000
mean     4.784486e+04        5.324524e+05          7.855850e+05    20.266027
std      3.950099e+05        4.465005e+06          6.094428e+06    14.378741
min      7.000000e-02        0.000000e+00          2.040000e+00     1.000000
25%      2.320000e+02        1.459710e+03          2.999050e+03    10.000000
50%      1.206000e+03        1.112983e+04          2.276578e+04    15.000000
75%      8.424000e+03        8.531043e+04          1.563402e+05    30.000000
max      1.541288e+07        1.837718e+08          2.091852e+08    80.000000

       vnc_fin_exercice  cumul_amort_anterieurs
count      1.000000e+04            1.000000e+04
mean       4.846084e+05            2.532627e+05
std        4.184223e+06            2.274544e+06
min        0.000000e+00            0.000000e+00
25%        8.199800e+02            5.960000e+02
50%        7.967180e+03            6.091275e+03
75%        7.021718e+04            4.262708e+04
max        1.769655e+08            1.255111e+08

In [82]:
print(f"Duplicated rows: {df.duplicated().sum()}")

Duplicated rows: 0